# Do not share your OpenAI API key with anyone! It should remain a secret.
OPENAI_API_KEY=
HGGFACE=

# Database
DBPWD=
DBAPIKAY=
DATABASE_URL=

#supabase (auth) (https://supabase.io/docs/guides/with-nextjs
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SECRET_KEY=

NEXTAUTH_SECRET=
NEXTAUTH_URL=
#smtp provider settings if you want to use email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
#Notion TOKEN 
NOTION_TOKEN=


