@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

/* Set font family and size */
body {
    font-family: sans-serif;
    font-size: 16px;
    touch-action: manipulation;
        -ms-content-zooming: none;
        -ms-touch-action: manipulation;
        zoom: reset;
    
}

/* Add some spacing */
.spacer {
    margin-bottom: 20px;
}

/* Style links */
a {
    /* color: #0070f3; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style buttons */
button {
    /* background-color: #0070f3; */
    /* color: white; */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    /* background-color: #0062cc; */
}